<h1>Editing category</h1>

<%= render partial: "form", locals: { category: @category } %>

<h3> Plans </h3>
<table class="table table-striped">
  <th> Plan </th>
  <th> Status </th>
  <th> Amount </th>
  <th> Start date </th>
  <th> End date </th>
  <th> Created at: </th>
  <th> Updated at: </th>
  <th> Actions: </th>
  <%= render partial: 'categories/plan', collection: @category.plans %>
</table>

