<h1> All Categories List </h1>
<div class="form-group">
  <%= button_to 'New category', new_category_path, method: :get, class: "btn btn-default" %>
</div>
<% if @categories.present? %>
  <table class="table table-striped">
    <th> Name </th>
    <th> Created at: </th>
    <th> Updated at: </th>
    <th> Actions </th>

    <%= render @categories %>
  </table>
  <%= paginate @categories %>
<% else %>
  <p class="alert alert-warning"> Add your first Category! </p>
<% end %>
