<div class="form-group">
<%= button_to 'New plan', new_plan_path, method: :get, class: "btn btn-default" %>
</div>
<% if @plans.present? %>
  <table class="table table-striped">
    <th> Name </th>
    <th> Status </th>
    <th> Plan Started </th>
    <th> Plan finishing </th>
    <th> Created at: </th>
    <th> Updated at: </th>
    <th> Category </th>
    <th> Actions </th>

    <%= render @plans %>
  </table>
  <%= paginate @plans %>
<% else %>
  <p class="alert alert-warning"> Add your first plan! </p>
<% end %>