<table class="table table-striped">
  <th > Name </th>
  <th> Plan Started </th>
  <th> Plan finishing </th>
  <th> Created at: </th>
  <th> Updated at: </th>
  <th> Category </th>
  <th> Actions </th>

<%= render @plans %>
</table>
<%= paginate @plans %>



