<h1> Charges </h1>
<%= button_to 'New charge', new_charge_path, method: :get, class: "btn btn-default" %>
<% if @charges.present? %>
  <table class="table table-striped">
    <th > Amount </th>
    <th> Created at: </th>
    <th> Updated at: </th>
    <th> Description </th>
    <th> Operation date </th>
    <th> Actions </th>

    <%= render @charges %>
  </table>
  <%= paginate @charges %>
<% else %>
  <p class="alert alert-warning"> Add your first charge! </p>
<% end %>


