- if current_user
  %h4.text-right
    %span.glyphicon.glyphicon-euro
      Balance:
      = current_user.balance.amount
  %h4.text-right
    %span.glyphicon.glyphicon-euro
      Planned amount:
      = current_user.balance.planned_amount